.navbar-nav .nav-link {
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid transparent;
}

.navbar-nav .nav-link:hover {
    border-bottom: 2px solid #ffffff;
}

.navbar-nav .nav-link.active {
    border-bottom: 2px solid #0d6efd;
    /* или твой фирменный синий */
}

.navbar-brand img {
    width: 100px;
}

.navbar-toggler:hover {
    background-color: #4139b2;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.2rem #11074571;
}

.custom-navbar {
    background: linear-gradient(225deg, #4139b2, #ffffff);
    /* горизонтальный градиент */
    color: white;
}

.social-btn {
    border-width: 1px;
    border-radius: 8px;
    transition: all 0.3s ease;
    font-weight: 500;
}

/* Hover эффекты с сохранением фирменных цветов */
.btn-success:hover {
    background-color: #28d66c;
    /* светлее WhatsApp */
    border-color: #ffffff;
    color: #fff;
}

.btn-info:hover {
    background-color: #33bbff;
    /* светлее Telegram */
    border-color: #ffffff;
    color: #fff;
}

.btn-dark:hover {
    background-color: #2b2b2b;
    /* светлее TikTok */
    border-color: #ffffff;
    color: #fff;
}